---
import Layout from "../../layouts/Layout.astro";
---

<script>
  let playersString = new URLSearchParams(document.location.search).get(
    "players"
  );
  if (typeof playersString === "undefined" || playersString === null) {
    window.location.href = import.meta.env.BASE_URL;
  }
  let players = playersString!.split(",");
  let playerCount = players.length;

  let scoresString = localStorage.getItem("qwirkle.scores");
  let scores: number[];

  let table = document.createElement("table");
  let thead = document.createElement("thead");
  let head = document.createElement("tr");
  players.forEach((player) => {
    let caption = document.createElement("th");
    var text = document.createTextNode(player);
    var playerScoreSpan = document.createElement("span");
    playerScoreSpan.id = `playerScore-${player}`;
    caption.appendChild(text);
    caption.appendChild(playerScoreSpan);
    head.appendChild(caption);
  });
  thead.appendChild(head);
  table.appendChild(thead);
  const tableContainer = document.querySelector("#scoreTableContainer")!;
  tableContainer.appendChild(table);

  let tbody = document.createElement("tbody");
  table.appendChild(tbody);

  let cursor = 0;

  if (typeof scoresString === "undefined" || scoresString == null) {
    localStorage.setItem("qwirkle.scores", "");
    scores = [];
  } else {
    scores = (scoresString.split(",") || []).flatMap((s) => {
      let res = parseInt(s, 10);
      if (Number.isNaN(res)) {
        return [];
      } else {
        return [res];
      }
    });
  }

  let createNextCursor = 0;
  const createCell = (cnc: number) => {
    let row = Math.floor(cnc / playerCount);
    let col = cnc % playerCount;
    let rowElement: HTMLTableRowElement;
    if (col == 0) {
      rowElement = document.createElement("tr");
      rowElement.id = `row${row}`;
      tbody.appendChild(rowElement);
    } else {
      rowElement = document.querySelector(`#row${row}`)!;
    }
    const cellElement = document.createElement("td");
    cellElement.id = `row${row}-col${col}`;
    rowElement.appendChild(cellElement);

    const input = document.createElement("input");
    input.id = `input-row${row}-col${col}`;
    input.addEventListener("focusin", () => {
      cursor = cnc;
      input.select();
    });
    input.addEventListener("focusout", () => {
      let num = parseInt(input.value);
      if (Number.isNaN(num)) {
        input.value = "0";
        num = 0;
      }
      scores[cnc] = num;
      updateScores();
      saveScores();
    });
    cellElement.appendChild(input);
    return input;
  };

  scores.forEach((score) => {
    let cell = createCell(createNextCursor);
    createNextCursor++;
    cell.value = score + "";
  });

  const updateScores = () => {
    let dict: { [key: string]: number } = {};
    scores.entries().forEach(([i, score]) => {
      let key = players[i % playerCount]!;
      let value = dict[key] || 0;
      dict[key] = value + score;
    });
    for (let player in dict) {
      let value = dict[player];
      let elem = document.querySelector(`#playerScore-${player}`)!;
      elem.innerHTML = value + "";
    }
  };

  const getCell = (num: number) => {
    let row = Math.floor(num / playerCount);
    let col = num % playerCount;
    return document.querySelector(
      `#input-row${row}-col${col}`
    ) as HTMLInputElement | null;
  };
  const selectCell = (newCursor: number) => {
    let cell = getCell(newCursor);
    if (typeof cell === "undefined" || cell === null) {
      return;
    }
    cell.focus();
    setTimeout(() => {
      cell.select()
    }, 10)
  };

  updateScores();
  let select = 0;
  if (scores.length === 0) {
    createCell(createNextCursor);
    createNextCursor++;
  } else {
    select = scores.length - 1;
  }
  selectCell(select);

  const saveScores = () => {
    localStorage.setItem("qwirkle.scores", scores.join(","));
  };

  const goForward = () => {
    cursor++;
    if (cursor >= createNextCursor) {
      createCell(createNextCursor).focus();
      createNextCursor++;
    } else {
      selectCell(cursor);
    }
  };

  window.addEventListener("keypress", (event) => {
    switch (event.key) {
      case "Enter":
        goForward();
        return;
    }
  });

  window.addEventListener("keydown", (event) => {
    let cursorNew;
    switch (event.key) {
      case "ArrowDown":
        cursorNew = cursor + playerCount;
        if (cursorNew < createNextCursor) {
          cursor = cursorNew;
          selectCell(cursorNew);
        }
        return;
      case "ArrowUp":
        cursorNew = cursor - playerCount;
        if (cursorNew >= 0) {
          cursor = cursorNew;
          selectCell(cursorNew);
        }
        return;
      case "ArrowRight":
        cursorNew = cursor + 1;
        if (cursorNew < createNextCursor) {
          cursor = cursorNew;
          selectCell(cursorNew);
        }
        return;
      case "ArrowLeft":
        cursorNew = cursor - 1;
        if (cursorNew >= 0) {
          cursor = cursorNew;
          selectCell(cursorNew);
        }
        return;
    }
  });
  const back = document.querySelector("#back")!;
  back.addEventListener("click", () => {
    if (cursor > 0) {
      cursor--;
    }
    selectCell(cursor);
  });

  const cont = document.querySelector("#cont")!;
  cont.addEventListener("click", goForward);
  const reset = document.querySelector("#reset")!;
  reset.addEventListener("click", () => {
    let p = confirm("Sicher?");

    if (p) {
      localStorage.removeItem("qwirkle.scores");
      window.location.reload();
    }
  });
  const newGame = document.querySelector("#newGame")!;
  newGame.addEventListener("click", () => {
    let p = confirm("Sicher?");

    if (p) {
      localStorage.removeItem("qwirkle.scores");
      window.location.href = import.meta.env.BASE_URL;
    }
  });
</script>
<Layout>
  <button id="newGame" class="newGame">Neues Spiel</button>
  <button id="back" class="back">Zurück</button>
  <button id="cont" class="cont">Weiter</button>
  <button id="reset" class="reset">Zurücksetzen</button>
  <div id="scoreTableContainer"></div>
</Layout>

<style>
  #scoreTableContainer :global(td, th) {
    width: 12rem;
  }
  #scoreTableContainer :global(span) {
    margin-left: 5px;
  }
</style>
